* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(https://images.unsplash.com/photo-1545851876-eb2bbc712ca6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1875&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-wrapper {
    height: 130px;
}

.align-center {
    align-items: center;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.container {
    /* max-width: 980px; */
    margin: 0 auto;
}

.main-menu a {
    color: rgb(241, 237, 27);
    font-size: 20px;
    text-decoration: none;
    display: block;
    line-height: 130px;
    height: 130px;
    width: 8.4375rem;
    text-align: center;
}

.main-menu a:first-child {
    border-left: 1px solid #1e1e1e;
}

.main-menu a:hover {
    color: #ec2a08;
}

.nav-bar {
    justify-content: space-between;
    background-color: #0fcbec;
    border: 1px solid black;
}

.gallery-wrapper {
    flex-direction: column;
    display: block;
}

.search {
    height: 150px;
    width: 100%;
    background-color: lightcoral;
    text-align: center;
    font-size: 40px;
    font-style: italic;
    border: 2px solid rebeccapurple;
}

.editor.flex {
    justify-content: space-around;
    margin-top: 40px;
    display: none;
}

.img {
    width: 250px;
    height: 70px;
}

.logo {
    margin-left: 30px;
}

button {
    cursor: pointer;
}

.imges {
    margin-top: 20px;
}

.pictures {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pictures>div {
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    /* margin: 20px; */
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;
}

.example {
    text-align: left;
    margin: 30px 0 20px 20px;
}

/* Button colors*/

.first.row.move-up-down {
    background-color: #E71D36;
}

.first.row.switch-line {
    background-color: #AF4319
}

.first.row.add-line {
    background-color: #772014;
}

.first.row.delete-line {
    background-color: #545863;
}

.second.row.increase-font {
    background-color: #00E8FC;
}

.second.row.decrease-font {
    background-color: #F96E46;
}

.color.strocke {
    background-color: #FFE3E3;
    margin-left: 52px;
    height: 45px;
}

.color.font {
    background-color: #FFE3E3;
    margin-left: 73px;
    height: 45px;
}

.second.row.align-left {
    background-color: #A9AFD1;
}

.second.row.align-center {
    background-color: #A1CDF4;
}

.second.row.align-right {
    background-color: #7C809B;
}

.font-type {
    background-color: #382633;
    color: white;
    width: 80px;
    height: 30px;
    margin-left: 30px;
}

.extra1 {
    background-color: #92BDA3;
}

.extra2 {
    background-color: #A1BA89;
    margin-left: 65px;
}

.extra3 {
    background-color: #A5CC6B;
    margin-left: 65px;
}

.extra4 {
    background-color: #806D40;
    margin-left: 65px;
}

.share {
    background-color: #C2DFE3;
    margin-right: 240px;
}

.download {
    background-color: #5C6B73;
}

.imgg {
    width: 30px;
    height: 40px;
}

.layout {
    height: 500px;
    width: 500px;
    background-color: lightblue;
}

#my-canvas {
    height: 500px;
    width: 500px;
}

button {
    margin: 0 20px 20px 50px;
}

.text-line {
    width: 490px;
    height: 40px;
    padding-left: 5px;
    margin: 50px 0 50px 0;
}

.cont {
    border-top: 1px solid red;
    padding-top: 15px;
    margin-top: 10px;
}

@media (max-width: 1000px) {
    .editor.flex {
        flex-direction: column;
        margin-bottom: 10px;
        align-items: center;
    }
    .layout {
        margin-bottom: inherit;
    }
}

@media (max-width: 720px) {
    .editor.flex {
        flex-direction: column;
        margin-bottom: 10px;
        align-items: center;
    }
    .layout {
        margin-bottom: inherit;
    }
    .header-wrapper {
        height: 80px;
    }
    .main-menu a {
        height: 80px;
        line-height: 80px;
        height: 26px;
        line-height: 21px;
        border: 1px solid black;
    }
    .main-menu {
        flex-direction: column;
        height: 80px;
    }
    .search {
        height: auto;
    }
    .logo {
        margin-left: 20px;
    }
}
/* 
@media (max-width: 550px) {
    .editor.flex {
        flex-direction: column;
        margin-bottom: 10px;
        align-items: center;
        position: relative;
        width: 100%;
    }
    .layout {
        margin-bottom: inherit;
    }
    .header-wrapper {
        height: 80px;
    }
    .main-menu a {
        height: 80px;
        line-height: 80px;
        height: 26px;
        line-height: 21px;
        border: 1px solid black;
    }
    .main-menu {
        flex-direction: column;
        height: 80px;
    }
    .search {
        height: auto;
    }
    .logo {
        margin-left: 20px;
    }
} */

@media (max-width: 550px) {
    .editor.flex {
        flex-direction: column;
        margin-bottom: 15px;
        align-items: center;
        position: relative;
        width: 100%;
        margin-top: 15px;
    }
    .layout {
        margin-bottom: inherit;
    }
    .header-wrapper {
        height: 80px;
    }
    .main-menu a {
        height: 80px;
        line-height: 80px;
        height: 26px;
        line-height: 21px;
        border: 1px solid black;
        width: 80px;
    }
    .main-menu {
        flex-direction: column;
        height: 80px;
    }
    .search {
        height: auto;
    }
    .logo {
        margin-left: 20px;
    }
    .img {
        width: 150px;
        height: 40px;
    }
    .layout {
        height: 250px;
        width: 250px;
        background-color: lightblue;
    }
    #my-canvas {
        height: 250px;
        width: 250px;
    }
    .imgg {
        width: 5px;
        height: 10px;
    }
    .text-line {
        width: 220px;
        height: 40px;
        padding-left: 5px;
        margin: 5px 0 5px 0;
    }
    button {
        margin: 0 20px 10px 10px;
    }
    .color.strocke {
        background-color: #FFE3E3;
        margin-left: 10px;
        height: 20px;
    }
    .color.font {
        background-color: #FFE3E3;
        margin-left: 26px;
        height: 20px;
    }
    .font-type {
        width: 75px;
        height: 20px;
        margin-left: 0px;
    }
    .extra2 {
        margin-left: 6px;
    }
    .extra3 {
        margin-left: 6px;
    }
    .extra4 {
        margin-left: 6px;
    }
    .share {
        margin-right: 73px;
    }
    .cont {
        padding-top: 10px;
        margin-top: 5px;
    }
}